{% extends "layout.html" %}
{% block title %}About COVID-19 Event Planner{% endblock %}

{% block main %}
<div class="valign-wrapper full-screen">
    <div class="row" style="margin: 0; width: 100%">
        <!--
            <div class="col s12">
                <img id="home-logo" src="" alt="Logo">
            </div>
        -->
        <div class="container" style="margin-bottom: 16px;">
            <h1>About the Smart COVID-19 Event Planner</h1>
        </div>

        <div class="container">
            <h5 class="center-align">The Problem</h5>
            <p>During the pandemic, we're all trying our best to avoid going out -- but
                sometimes, it's impossible to avoid. To be as safe as possible, we need many different types of
                information: how to set up as safely as possible, how to contact-trace, and how much risk is
                involved in a given event.</p>
        </div>

        <div class="container">
            <h5 class="center-align">Our Solution</h5>
            <p>In those situations, having a way to easily contact-trace, plan a socially
                distanced layout, and calculate risk is important. So we made the Smart COVID-19 Event Planner,
                which
                helps us figure out many of these factors.</p>
        </div>

        <div class="container">
            <h5 class="center-align">Features</h5>
            <ul class="features">
                <li><p>Layout planning: Our drag-and-drop front-end interface allows the event planner to customize the
                    layout of the event. There will also be an option to automatically configure the layout for maximum
                    social distancing.</p></li>
                <li><p>Event management: Event planners will have the option to invite guests to their event using a
                custom invite link. Guests can view the risk (see below) and make an informed decision before they RSVP.</p></li>
                <li><p>Risk calculation: Both event planners and guests will be able to view the risk that someone at the
                event will be positive for covid-19 based on the most current case data for the county in question.</p></li>
                <li><p>Contact tracing: We will save the data from the layout for easier contact tracing after the event,
                if necessary.</p></li>
            </ul>

            <style>
                .features li {
                    list-style-type: disc!important;
                }
            </style>
        </div>

        <div class="container">
            <h5 class="center-align">Libraries/Data Sources Used</h5>
        </div>
    </div>
</div>
{% endblock %}