{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block main %}
<div class="valign-wrapper full-screen">
    <div class="row" style="margin: 0; width: 100%">
        <!--
            <div class="col s12">
                <img id="home-logo" src="" alt="Logo">
            </div>
        -->
        <div class="col s12">
            <h1>AHS Open Sorcery: Smart COVID-19 Event Planner</h1>
            <p><strong>Problem:</strong> During the pandemic, we're all trying our best to avoid going out -- but sometimes, it's impossible to avoid. To be as safe as possible, we need many different types of information: how to set up as safely as possible, how to contact-trace, and how much risk is involved in a given event.</p>
            <p><strong>Solution:</strong> In those situations, having a way to easily contact-trace, plan a socially distanced layout, and calculate risk is important. So we made the Smart COVID-19 Event Planner, which helps us figure out many of these factors.</p>
            <p><strong>Features:</strong>
                * Layout planning: Our drag-and-drop front-end interface allows the event planner to customize the layout of the event. There will also be an option to automatically configure the layout for maximum social distancing.
                * Event management: Event planners will have the option to invite guests to their event using a custom invite link. Guests can view the risk (see below) and make an informed decision before they RSVP.
                * Risk calculation: Both event planners and guests will be able to view the risk that someone at the event will be positive for covid-19 based on the most current case data for the county in question.
                * Contact tracing: We will save the data from the layout for easier contact tracing after the event, if necessary. </p>
            <p><strong>Libraries/Data Sources Used:</strong></p>
        </div>
    </div>
</div>
{% endblock %}